<template name="layout">
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a id="hamburder" class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title" id="mainTitle">Shmurgl</h1>
      </section>

    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <!-- <li><label>Menu</label></li> -->
        <li><a href="#">Item1</a></li>
        <li><a href="#">Item2</a></li>
      </ul>
    </aside>


    <section class="main-section">
      <!-- content goes here -->
      {{>yield}}
      <button class="custom-button-class">Click Me</button>
      <p>You've pressed the button {{counter}} times.</p>
 <!--      <form >
        <input type="text" class="form-control datepicker">

      </form> -->
        <input id="testInput" placeholder="pick a date ...">
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>

  {{initFoundation}}

</template>